<h2>This is Restro's new page.</h2>

<%= form_with scope: :restro, url: restros_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>