<h2>This is Item's show page.</h2>

<p>
  <h2><%= @item.name %></h2>
</p>
<%#= link_to  "Create New item", new_category_item_path(@category) %>
<table class = table>
    <tr>
      <td><%= @item.name %></td>
      <td><%= @item.price %></td>     
    </tr>
</table>
